@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #E6E6FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    position: relative;
    background-color: #fff ;
    width: 900px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.25) ;
}

.container-backdrop{
    position: absolute;
    width: 700px;
    height: 700px;
    background-color: #6D6DE6;
    top:-50px;
    left: 100px;
    z-index: -1;
}

.container-h2{
    font-family: 'Nunito',sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding: 60px 325px 0;
}

.container-p{
    color: #6363CE;
    font-family: 'Nurito',sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 25px 376px 66px;
}

.container-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card{
    border: 2px solid #F0F0F6;
    border-radius: 5px;
    width: 236px;
    height: 321px;
    position: relative;
}

.card-h2{
    font-family: 'Nunito',sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    padding-top: 25px;
    padding-left: 30px;
}

.card-p{
    font-family: 'Nunito',sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

span{
    font-family: 'Nunito',sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: baseline;
}

span h2{
    font-size: 30px;
    font-weight: 700;
}

button{
    background-color: #6D6DE6;
    cursor: pointer;
    color: #fff;
    border: none;
    width: 176px;
    border-radius: 5px;
    padding: 14px;
    font-size: 14px;
    font-family: 'Nunito',sans-serif;
    font-weight: 700;
    position: absolute;
    left: 30px;
    bottom: 30px;
}
